<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ToDo List Webapp</title>

    
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        
        <link rel="stylesheet" href="/css/index.css" />
        
</head>

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark title">
		
		<h3>ToDo List WebApp</h3>

    </nav>
    
	
    <figure>
        <div class="fixed-wrap">
            <div id="fixed">
                
            </div>
            
        </div>

        

        <div class="container-fluid padding mx-auto">
            <div class="row padding text-center">

                <div class="col-12 padding text-center">

                    <br><br><br><br>                 
                    <div class="card text-center">
                        <div class="card-body">
                            <h2 class="card-title">About</h2>
                            <p>
                                The todo list helps the user keep track of the tasks he has to complete within a stipulated time.
                                <br>
                                Organising these tasks in a systematic way according to time constraints and priority order,
                                this todo list will improve the efficiency of the user.
                                By including features such as modifications of tasks, we make it easy for the user to keep track
                                and ensure that the tasks are completed within time.
                                To remind the user about the task, we have a notification system that will notify the user prior to
                                a deadline so that the user can get the task done.
                                Overall this todo list will make the users life much easier to manage and the user can avoid
                                making the mistake of forgetting certain tasks.
                            </p>
                            <a href="/webapp" class="btn btn-outline-secondary">make notes now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <br><br><br>

    </figure>

    
<footer>
    <div class="container-fluid padding">
        
    
        <div class="row text-center">
    
            <div class="col-12">
              <h5>ToDo List WebApp</h5>
              <hr class="h">
              <h5>Aditya Rajan</h5>
            </div>
        </div>
  
    </div>
</footer>
    
</body>
</html>